<div class="search" role="search" style="background:white; padding-bottom: 5px;">
  <a name="search" id="search"></a>
<!--
  <h3>Search The Archives</h3>
-->
<h3 style="display:block; margin-top:0;">Denton Municipal Archives</h3>
  <form id="advanced_search" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="?" autocomplete="off">
  <div class="row search_row" id="search_row_0">
    <!--<div class="col-sm-1 bool form-group form-inline">
      <label class="sr-only" for="op0">Operator</label>
      <select name="op[]" id="op0" disabled="disabled" class="form-control hidden"><option value="AND">And</option>
<option value="OR">Or</option>
<option value="NOT">Not</option></select>
      <input type="hidden" name="op[]" id="op_" value="" autocomplete="off">
    </div>-->
    <div class="col-sm-1 form-group form-inline">
<label class="sr-only repeats" for="field0">Search field</label>
<input type="hidden" name="op[]" id="op_" value="" autocomplete="off">
<select name="field[]" id="field0" class="form-control repeats"><option value="">Keyword</option>
<option value="title">Title</option>
<option value="creators_text">Creator</option>
<option value="subjects_text">Subject</option>
<option value="notes">Notes</option>
<option value="four_part_id">Identifier</option></select></div><div class="form-group form-inline col-sm-3">
      <label class="sr-only repeats" for="q0">Enter your search terms</label>
      <input type="text" name="q[]" id="q0" placeholder="Enter your search terms" class="form-control repeats fill-column">

    </div>
<div class="col-sm-1 form-group form-inline">
<label class="sr-only repeats" for="from_year0">From year</label>
<input type="text" name="from_year[]" id="from_year0" size="4" maxlength="4" placeholder="From" class="form-control repeats">
</div><div class="col-sm-1 form-group form-inline">
<label class="sr-only repeats" for="to_year0">To year</label>
<input type="text" name="to_year[]" id="to_year0" size="4" maxlength="4" class="form-control repeats" placeholder="To">
</div><div class="col-sm-3 form-group form-inline norepeat">
        <label class="sr-only" for="limit">Limit to %{limit}</label>
        <select name="limit" id="limit" class="form-control fill-column"><option selected="selected" value="">Search all record types</option>
<option value="resource">Limit to collections</option>
<option value="digital_object">Limit to digital materials</option></select>
      </div>
<div class="col-sm-3">
      <input type="submit" name="commit" value="Search" class="btn btn-primary" id="submit_search" data-disable-with="Search">
    </div>
  </div>

  
</form></div>