
<body>
</section>
<section class="container-fluid" style="margin: 0;">
<div style="background-image: url(assets/images/ComicBG2.png);background-repeat: no-repeat;background-position: bottom; background-size: 100% 86%; height: 72vh">


<!--
<div class="row" xmlns:background-image="http://www.w3.org/1999/xhtml">
<div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>
-->

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<div class="w3-dropdown-hover" style="padding-left:5px; padding-top:5px; width: 100px; height: 100px;">
    <img src="assets/images/MouseOver.png" style="width: 200%;">
            
            <div class="w3-dropdown-content w3-bar-block" style="background-color: rgba(255, 255, 255, 0)">

<div style="display: grid; grid-template-columns: min-content min-content">
                
<a href="https://library.cityofdenton.com/screens/sc_home.html" class="w3-bar-item w3-button"><img src="assets/images/SC2.png" style="width: 300px"></a>
<a href="http://www.history.dentonpl.com/omeka/exhibits" class="w3-bar-item w3-button"><img src="assets/images/Exhibit2.png" style="width: 300px"></a>
<a href="https://dentonlibrary.wordpress.com/" class="w3-bar-item w3-button"><img src="assets/images/Blog2.png" style="width: 300px"></a>
<a href="https://communitywebs.archive-it.org/organization/2519/" class="w3-bar-item w3-button"><img src="assets/images/WebArchives.png" style="width: 300px"></a>
</div>
            </div>
        </div>

</div>


</body>



